.products-page {
  margin: 2rem 5%;
  display: flex;
  justify-content: space-around;

  .product-filters {
    width: 250px;
  }

  .products-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 1rem;

    .products-collection {
      width: 76.3%;
      margin-top: 3rem;
      position: absolute;
      padding-top: 1rem;
      display: flex;
    }
  }

}