@import '../Header/Header'

.carouselContainer
    width: 100%
    color: $primary-color

    .wrapper
        width: 70%
        margin: 0 auto
        display: flex
        align-items: center

        i
            font-size: 2em
            color: $primary-color
            display: flex
            justify-content: center
            align-items: center

        .products
            width: 85em
            margin: 0 auto
            // border: $border
            display: flex
            gap: 1em
            justify-content: space-evenly
            align-items: center

            .card
                width: 13em
                height: 20em
                border: $border