$primary-color: #175078
$secondary-color: #F08222
$pb-darkblue: #031724
$pb-grey: #757575
$pb-orange: #F08222
$border: 1px solid red
    
.headerContainer
    width: 100%

    .headerBlackWrapper
        width: 100%
        background-color: $pb-darkblue

        .headerBlack
            height: 2em
            width: 80%
            margin: 0 auto
            display: flex
            // border: $border
            justify-content: center
            gap: 6em
            align-items: center

            div
                color: white

        .inputs
            
            input
                font-size: 2em
            
            button
                font-size: 2em
    
    .headerBlueWrapper
        width: 100%
        border: $border
        background-color: $primary-color
        height: 8em

        
